<h1>Task List</h1>

<%= link_to 'New Task', new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <%= task.completed ? 'Completed' : 'Not Completed' %>
      <%= link_to 'Edit', edit_task_path(task) %>
    </li>
  <% end %>
</ul>